body {
    font-family: helvetica, arial, sans-serif;
    font-size: 18px;
    margin: 0;
    justify-content: center;
    max-width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    background-color: black;
    color: white;
}

.logo .container {
    display: flex;
    width: auto;
    align-items: center;
    padding: 0.66rem 0;
}

.logo img {
    height: 1.5rem;
    padding-right: 1rem;
    padding-left: 0.5rem;
}

.main-banner {
    background-image: url("../images/moto.jpeg");
    height: 25rem;
    background-size: cover;
}

#banner-text {
    color: white;
    background-color: black;
    padding: 2rem 0 2rem 3rem;
    align-items: center;
    width: 20rem;
    position: relative;
    top: 9rem;
}

#banner-text h4 {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.25rem;
}

#banner-text h1 {
    font-size: 2rem;
    font-weight: bold;
}

.navigation {
    color: white;
    background-color: firebrick;
}

.navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding:0.75rem 0;
}

.navigation a {
    color: white;
}

#product-grid {
    display: flex;
    justify-content: space-between;
}

.items {
    width: 30%;
}

.items p {
    background: black;
    color: white;
    text-align: center;
}