body {
    font-family: helvetica, arial, sans-serif;
    font-size: 18px;
    margin: 0;
    justify-content: center;
    max-width: 100%;
}

.container {
    max-width: 100%;
    height: auto;
    justify-content: center;
}

.container#logo {
    max-width: 960px;
}

.site-container {
    max-width: 960px;
}

#logo {
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    width: 100%;
    padding: 0.75rem;
    height: auto;
}

#logo img {
    height: 1.5rem;
    width: auto;
    padding-right: 1rem;
    padding-left: 0.5rem;
}

#main-banner {
    background-image: url("../images/moto.jpeg");
    height: 25rem;
}

.navigation {
    display: flex;
    color: white;
    background-color: firebrick;
    padding: 0.75rem 0rem;
    width: 100%;
    justify-content: space-between;
}

#product-grid {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: white;
}

.items {
    width: 30%;
}

.items p {
    background: black;
    color: white;
    text-align: center;
}